body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ClsTable
{
  border: 1px solid black;
}
.ClsCell
{
  border: 1px solid black;
}
ul.circle-checkmark {
	li {
		&::before {
      content: ""; 
      position: absolute; 
      left: 0; 
      top: 2px; 
      border: solid 8px #afcc62;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
		}
    &::after {
      content: ""; 
      position: absolute; 
      left: .25%;
      top: 5px;
      width: 3px;
      height: 6px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
	}
}
