/* Regular css for Flex - Travel Tour website */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/* Following parent class takes care of phone no, email ID, social media, login and signup */
.topbar
{
    height: 50px;
    width: 1225px;
    font-size: 16px;    
    color: #94999f;
    background-color: white;
    /* border: 2px solid red; */
    padding-top: 0.35%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of phone no and image */
.topbar .phone
{
    margin: auto;
    /* color: black; */
    /* background-color: yellow; */
    /* border: 2px solid orange;  */
    /* Remove upper border once entire bar is fixed. */
}
/* Following class takes care of email address image and email address */
.topbar .emailadd
{
    margin: auto;
    /* color: black; */
    /* background-color: orange; */
    /* border: 2px solid orange; */
    /* Remove upper border once entire bar is fixed. */
}
/* Following class takes care of social media images */
.topbar .socialmedia
{
    margin: auto;
    margin-left: 30%;
    /* color: black; */
    /* background-color: yellow; */
    /* border: 2px solid orange; */
}
/* Following class takes care of image & login  */
.topbar .login
{
    margin: auto;
    padding-left: 2%;
    /* color: black; */
    /* background-color: orange; */     
    /* border: 2px solid orange; */
    border-left: 1px solid lightgrey;

}
/* Following class takes care of image & signup */
.topbar .signup
{
    margin: auto;
    /* color: black; */
    /* background-color: yellow; */
    /* border: 2px solid orange; */
}
/* Following parent class takes care of logo, navigation bar & search image */
.logonavbarsrch
{
    margin-top: 1%;
    height: 50px;
    width: 1225px;
    background-color: white;
    border: 1px solid lightgrey;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of logo */
.logonavbarsrch .logo
{
    margin: auto;
    /* color: black;
    background-color: orange;
    border: 2px solid yellow; */
}
/* Following class takes care of navigation bar */
.logonavbarsrch .logonavbar
{
    margin: auto;
    padding-left: 5%;
    /* color: black;
    background-color: yellow;
    border: 2px solid orange; */
}
/* Following class takes care of li in navigation bar */
.logonavbarsrch .logonavbar li
{
    display: inline;
    position: relative;           
}
.logonavbarsrch .logonavbar a
{
    text-decoration: none;
}
.logonavbarsrch .logonavbar .line 
{
    height: 5px;
    width: 0px;
    background: #000;
    position: absolute;
    top:100%;
    left:0;
    transition: 1s;
}
/* li:hover .line  */
.logonavbarsrch.logonavbar li:hover .logonavbarsrch.logonavbar.line
{
    width:100%;
}
/* Following class takes care of navigation bar */
.logonavbarsrch .srch
{
    margin: auto;
    /* color: black;
    background-color: orange;
    border: 2px solid yellow; */
}
/* Following parent class takes care of main slider */
.sldr
{
    height: 697.156px;
    width: 1225px;
    /* color: blue;
    background-color: yellowgreen;
    border: 2px solid red; */
    padding-top: 15px;
    text-align: center;
    /* Addition starts here */
    /* background-image: url(&quot;https://a6e8z9v6.stackpathcdn.com/traveltour/main4/wp-content/uploads/2019/03/bgtravel.jpg&quot;); */
    background-image: url(https://a6e8z9v6.stackpathcdn.com/traveltour/main4/wp-content/uploads/2019/03/bgtravel.jpg);
    /* background-size: cover;  */
    background-position: center top;
    /* data-parallax-speed="0.2"; */
    /* Addition ends here */
}
/* Following class takes care of main title on main slider */
.sldrmainttl
{
    margin: auto;
    margin-top: 10%;
    /* line-height: 10%; */
    /* padding-top: 10%; */
    font-size: 40px; 
    color: rgb(255, 255, 255);
    /* background-color: yellow; */
    /* border: 2px solid orange; */
    text-transform: none; 
}
/* Following class takes care of sub title on main slider */
.sldrsubttl
{
    margin: auto;
    margin-top: 5px;
    color: #ffffff;
    font-size: 21px;
    font-style: normal;
    /* background-color: orange;
    border: 2px solid yellow; */
}
/* Following class takes care of main title on main slider
.sldr .ttl .mainttl
{
    margin: auto;
    margin-top: 10%;
    line-height: 10%;
    padding-top: 10%;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
} */
/* Following class takes care of main title on main slider
.sldr .ttl .mainttl
{
    margin: auto;
    margin-top: 10%;
    line-height: 10%;
    padding-top: 10%;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
} */
/* Following class takes care of sub title on main slider
.sldr .ttl .subttl
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
} */
/* Following class takes care of search bar on main slider */
.srchonsldr
{
    margin: auto;
    
    color: black;
    background-color: yellow;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of keywords search on main slider */
.sldr .srchonsldr .sldrsrch
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
}
/* Following class takes care of duration & destination search on main slider */
.sldr .srchonsldr .dnarrow
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
}
/* Following class takes care of search button on main slider */
.sldr .srchonsldr .srchbtn
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
}
/* Following parent class takes care of destination, guarantee and supoort section at the end of main slider */
.desteeport
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of destination section */
.desteeport .destination
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
}
/* Following class takes care of guarantee section */
.desteeport .guarantee
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
}
/* Following class takes care of support section */
.desteeport .support
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
}
/* Following class takes care of popular destination section */
.populardestination
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of popular tour section */
.populartour
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
}
/* Following parent class takes care of summer deal / discount section */
.summerdeal
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of left side of summer deal / discount section */
.summerdeal .leftside
{
    /* margin: auto; Instead of margin left side padding is required. */
    color: black;
    background-color: green;
    border: 2px solid red;
}
/* Following class takes care of right side of summer deal / discount section */
.summerdeal .righttside
{
    /* margin: auto; */
    color: black;
    background-color: red;
    border: 2px solid green;
}
/* Following class takes care of summer our recommended section */
.recommend
{
    margin: auto;
    color: black;
    background-color: Yellow;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
}
/* Following parent class takes care of travel highlight section */
/* This section will have background image. */
.travelhighlight
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
    text-align: center;
}
/* Following class takes care of main title in travel highlight section */
.travelhighlight .thlmainttl
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
}
/* Following class takes care of sub title in travel highlight section */
.travelhighlight .thlsubttl
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
}
/* Following class takes care of video player image in travel highlight section */
.travelhighlight .vdoplayimg
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
}
/* Following class takes care of customer review title and background image */
.crttl
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
}
/* Following parent class takes care of customer review section */
.customereview
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of customer feedback in customer review section */
.customereview .feedback
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
}
/* Following parent class takes care of browse tour by category and news letter section */
.tourcategory
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of browse tour by category section */
.tourcategory .browse
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
}
/* Following class takes care of news letter section */
.tourcategory .newsletter
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
}
/* Following class takes care of recent article section */
.recentarticle
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
}
/* Following parent class takes care of feature title section */
.featurettl
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
}
/* Following class takes care of feature section */
.feature
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of footer section */
.footer
{
    margin: auto;
    color: black;
    background-color: orange;
    border: 2px solid yellow;
    display: flex;
    flex-wrap: wrap;
}
/* Following class takes care of copy right section */
.copyright
{
    margin: auto;
    color: black;
    background-color: yellow;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
}