*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ClsForm
{
    border: 1px solid yellow;
}
.ClsTable
{
    border: 1px solid green;
}
.ClsRow
{
    border: 1px solid red;
}
.ClsCell
{
    border: 1px solid coral;
}
.ClsLabel
{
    text-align: left;
}
.ClsInput
{
    width:200px;
    border: 1px solid coral;
}
