*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.loadimage
{
    margin-left: 30%;
    margin-top: 20%;
    color: black;
    z-index: 999991; 
    text-transform: uppercase; 
    transform: translateY(-50%); 
    max-width: clamp(6.25rem, 3.3654rem + 12.8205vw, 18.75rem); 
    transition-delay: 30s;
    position: relative;
}
/* Following class for banner */
.banner
{
    height: 650px;
    width: 1340px;
    background-image: url(../images/SLider-2-bg-image.jpg);
    position: absolute;
    top: 0;
    left: 0; 
}
/* Following class for phone, email Id, social media and book now button */
.fonemailsocmedbuknow
{
    color: #ffffff;
    position: absolute;
    top: 1%;
    left: 1%; 
    display: grid;   
    grid-template-columns: max-content max-content;
}
.contact
{
    padding-left: 5px;
}
.contact a
{
    color: #ffffff;
    text-decoration: none;
}
.socmedbuknow
{
    margin-left: 100px;
}
.socmedbuknow input[type=button]
{
    height: 20px;
    width: 80px;
    color: #ffffff;
    background-color: orange;
    border: none;
    letter-spacing: 1px;
}
.horizontaline
{
    width: 1340px;
    position: absolute;   
    top: 5%;
    left: 1%;
    display: grid;
    grid-template-columns: max-content;
}